<section class="orders-page">
    <div class="orders">
        <div class="box-orders center">
            <div class="title">
                <h1>Pedidos</h1>
                <div class="form-row justify-content-center search">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="cx-pesq-colab" placeholder="Buscar pedidos">
                            <div class="input-group-prepend">
                                <button type="submit" class="btn btn-primary" type="submit">
                                    <span class="fas fa-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <div class="product">
                                <img src="assets/img/teclado-image.png" alt="">
                                <div class="details">
                                    <div class="condition">
                                        <span>
                                            <strong>Status: Produto entregue</strong>
                                        </span>
                                        <span>
                                            <strong>Entregue dia 17/10</strong>
                                        </span>
                                    </div>
                                    <span>Teclado Mecânico Gamer T-Dagger Bora, LED Vermelho, Switch Blue, ABNT2 - T-TGK313-RED</span>
                                    <p>Vendido e entregue por Game Mania</p>
                                    <a href="">Nota fiscal</a>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="timeline">
                                <li data-time="10/out às 20:40h" data-text="Pedido recebido"></li>
                                <li data-time="13/out às 12:30h" data-text="Pagamento aprovado"></li>
                                <li data-time="14/out às 08:17h" data-text="Nota fiscal disponível"></li>
                                <li data-time="16/out às 00:20h" data-text="Em transporte"></li>
                                <li data-time="17/out às 9:00h" data-text="Produto entregue"></li>
                            </ul>
    
                            <div class="accordion-body">
                                <div class="action-buttons">
                                    <a href="">Trocar ou devolver</a>
                                    <a href="">Acompanhar envio</a>
                                    <a href="">Dúvidas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <div class="product">
                                <img src="assets/img/joystick-image.png" alt="">
                                <div class="details">
                                    <div class="condition">
                                        <span>
                                            <strong>Status: Produto entregue</strong>
                                        </span>
                                        <span>
                                            <strong>Entregue dia 26/01</strong>
                                        </span>
                                    </div>
                                    <span>Controle Razer Raion Fightpad, para PS4 e PC, Razer Switch Yellow - RZ06-02940100-R3G1</span>
                                    <p>Vendido e entregue por Game Mania</p>
                                    <a href="">Nota fiscal</a>
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul class="timeline">
                                <li data-time="20/jan às 13:40h" data-text="Pedido recebido"></li>
                                <li data-time="21/jan às 10:20h" data-text="Pagamento aprovado"></li>
                                <li data-time="23/jan às 20:00h" data-text="Nota fiscal disponível"></li>
                                <li data-time="25/jan às 11:20h" data-text="Em transporte"></li>
                                <li data-time="26/jan às 9:45h" data-text="Produto entregue"></li>
                            </ul>
    
                            <div class="action-buttons">
                                <a href="">Trocar ou devolver</a>
                                <a href="">Acompanhar envio</a>
                                <a href="">Dúvidas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options">
                <a routerLink=""><i class="fas fa-home"></i>Home</a>
                <a routerLink="#logo" (click)= "toUp()"><i class="fas fa-arrow-up"></i>Ir ao topo</a>
            </div>
        </div>
    </div>
</section>

