<footer class="footer-section container-fluid">
    <div class="center">
        <div class="row">
            <div class="col-4">
                <a href="#">
                    <p>Ofertas</p>
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    <p>Escolha como pagar</p>
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    <p>Frete grátis</p>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <a href="#">
                    <p>Política de troca</p>
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    <p>Política de privacidade</p>
                </a>
            </div>
            <div class="col-4">
                <a href="#">
                    <p>Dúvidas</p>
                </a>
            </div>
        </div>
    </div>

    <div class="credit-cards center">
        <div class="row">
            <span>Aceitamos</span>
            <div class="col-6">
                <div class="row">
                    <div class="col-1 credit-card-box">
                        <img src="assets/img/master-card-icon.png" alt="icone master card">
                    </div>
                    <div class="col-1 credit-card-box">
                        <img src="assets/img/visa-icon.png" alt="ícone visa card">
                    </div>
                    <div class="col-1 credit-card-box">
                        <img src="assets/img/maestro-card-icon.png" alt="ícone maestro card">
                    </div>
                    <div class="col-1 credit-card-box">
                        <img src="assets/img/pix-icon-card.png" alt="ícone pix">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="social-media center">
        <div class="row">
            <span>Siga-nos</span>
            <div class="col-6">
                <div class="row">
                    <div class="col-1 social-media-box">
                        <a href="#"><img src="assets/img/facebook-icon.png" alt="icone facebook"></a>
                    </div>
                    <div class="col-1 social-media-box">
                        <a href="#"><img src="assets/img/instagram-icon.png" alt="ícone instagram"></a>
                    </div>
                    <div class="col-1 social-media-box">
                        <a href="#"><img src="assets/img/youtube-icon.png" alt="ícone youtube"></a>
                    </div>
                    <div class="col-1 social-media-box">
                        <a href="#"><img src="assets/img/twitter-icon.png" alt="ícone twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="rights">All rights reserved 2021 - Game Mania Informática CNPJ 00.000.000/0005</p>

</footer>


